<div class="pbe-3 border-be border-main">
  <p class="text-primary mbe-1 break-words"><%= log.note %></p>
  <p class="text-sm text-subtle">
    Logged on <%= log.created_at.strftime("%B %d, %Y") %>
  </p>
</div>