<div class="rounded-md bg-sky-500 m-1 text-center">
  <div class="flex flex-col gap- p-2 text-center">
    <h4 class="font-semibold"><%= link_to event.name, event, data: { turbo_frame: "_top" } %></h4>
    
    <span class="flex gap-2 items-center justify-center bg-emerald- p-3 rounded-md shadow-">
      <span class="flex gap-1 text-sm items-center bg-green- p-1 rounded-">
        <span class="icon icon--user-check" aria-hidden="true"></span>
        32
      </span>
      <span class="flex gap-1 text-sm items-center bg-neutral- p-1 rounded-">
        <span class="icon icon--user-minus" aria-hidden="true"></span>
        10
      </span>
      <span class="flex gap-1 text-sm items-center bg-red- p-1 rounded-">
        <span class="icon icon--user-x" aria-hidden="true"></span>
        4
      </span>
    </span>
  </div>
</div>