<div>
  <%# --- RANSACK SEARCH FORM --- %>
  <%= render "events/search_form" %>

  <%# --- PAGINATED LIST OF EVENTS --- %>
  <div id="events-list" class="flex flex-col gap-3">
    <% if @list_events.any? %>
      <%= render partial: "events/event_list_item", collection: @list_events, as: :event %>
    <% else %>
      <div class="p-8 text-center border border-dashed border-main rounded-md">
        <p class="text-subtle">No events found.</p>
      </div>
    <% end %>
  </div>

  <%= render "shared/pagination", pagy: @pagy %>
</div>