<% content_for :title, "Edit Event" %>

<%= render "shared/modal" do %>
  <div data-action="turbo:submit-end->modal#submitEnd">
    <h2 class="font-semibold text-2xl mbe-4">Edit event</h2>
    <%= render "form", event: @event %>
  </div>
<% end %>