<% content_for :title, "New Contact" %>

<%= render "shared/modal" do %>
  <div data-action="turbo:submit-end->modal#submitEnd">
    <h2 class="font-semibold text-2xl mbe-4">Create new contact</h2>
    <%= render "form", contact: @contact %>
  </div>
<% end %>